<!DOCTYPE html>
<html>
    <head>
        <Title> Home </Title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
	<div class="form">
            <p class="message">Want to rate a course? <a href="/rate"> Course Evaluation</a></p> 
		<form action="" method="post">
		    <input id = "submitButton" class = "submit" type="submit" value="Lotout">
		    <br>
		    {% if error %}
                        <p class="error"><strong>Error:</strong> {{ error }} <br>
                    {% endif %}
		</form>
	</div>
    </body>
</html>
