<!DOCTYPE html>
<html>
    <head>
        <Title> Home Page </Title>
		    <link rel="stylesheet" href="{{ url_for('static', filename='css/inputform.css') }}">
    </head>
      <body>
      <div class="login-page">
        <div class="form">
          <form action="" method="get">
		    <div id = "welcomeMsg">
				{% if UserName %}
					Welcome, {{UserName}}!
				{% endif %}
			</div> <br>
            <button type="submit" formaction="enroll">Enroll in a class</button><br><br>
            <button type="submit" formaction="rate">Rate a class</button><br><br>
            <button type="submit" formaction="logout">Log out</button><br><br>
          </form>
        </div>
      </div>
    </body>
</html>
