<!DOCTYPE html>
<html>
    <head>
        <Title> Home </Title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
	<div class="form">
	    <p class="message">Want to rate a course? <a href="/rate"> Course Evaluation</a></p><br>
            <p class="message">Want to enroll a course? <a href="/enroll"> Course Registration</a><p>
	    <form action="" method="post">
		<input id = "submitButton" class = "submit" type="submit" value="Logout">
		<br>
		{% if error %}
                    <p class="error"><strong>Error:</strong> {{ error }} <br>
                {% endif %}
	    </form>
	</div>
    </body>
</html>
