<!DOCTYPE html>
<html>
    <head>
        <Title> Login Screen </Title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>

    <body>
        <div class="login-page">
            <div class="form">
                <form class="register-form" action="" method="post">
                    <input type="text" name="UserName" placeholder = "Enter Username" required autofocus>
                    <br>
                    <input type="password" name="Password" placeholder = "Enter Password" required autofucs>
                    <br><br>
                    <input id = "submitButton" class = "submit" type="submit" value="Login">
                    {% if message %}
                        <p class="error"><strong>Message:</strong> {{ message }}
                    {% endif %}
                    <p class="message">Not registered? <a href="/register">Create an account</a></p>
                </form>
            </div>
        </div>
    </body>
</html>
