<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Account Registration</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
<div class='registration-page'>
<div class='registration-form'>
<form class='registration-table', action='', method = 'POST'>
User Name: <br>
<input type="text" name="UserName" placeholder = "Enter Username" required autofocus><br>
Login Password: <br>
<input type="password" name="Password" placeholder = "Enter Password" maxlength="16" required autofocus><br>
Confirm Password: <br>
<input type="password" name="Password" placeholder = "Confirm Password" maxlength="16" required autofocus><br>
Full Name: <br>
<input type="text" name="FullName" placeholder = "Enter FullName" required autofocus>
<br><br>
<input id="submitButton" class="submit" type="submit" value="Register">
<br><br>
<p class="message">Already registered? <a href="{{ url_for('static', filename='css/index.html') }}">Log in with an existing account</a></p>
<br><br>
<div>
{% if message %}
{{message}}
<a href="">Go to HomePage</a></p>
{% endif %}
</div>
</form>
</div>
</div>
</body>
</html>