<!DOCTYPE html>
<html>
    <head>
        <Title> Course Rating Report </Title>
		
		<link rel="stylesheet" href="{{ url_for('static', filename='css/inputform.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/rate.css') }}">
	</head>
    <body>
		<div class="login-page">
			<div class="form">
				<div id = "welcomeMsg">
				{% if UserName %}
					Welcome, {{UserName}}!
				{% endif %}
				</div> <br>

			    {% if Courses %}
			    <form action="" method="post">
				<div>
					Select Course Statistics <br>
				    <select id ="selectCourse" name="Course">
					{% for Course in Courses %}
						<option value="{{Course[0]}} - {{Course[1]}} - {{Course[2]}}">{{Course[0]}} - {% if Course[1]%} {{Course[1]}} - {% endif %} {{Course[2]}}</option>
					{% endfor %}
				    </select>
				</div>

				<div>
					<button type="submit">Generate Report</button>
				</div> <br>
			    </form>

				{% else %}
					You are not assigned to any classes.
				{% endif %}
				<form method="get" action="/logout">
					<button type="submit">Logout</button>
				</form> <br>
				{% if message %}
				  {{message}}
				{% endif %}
			</div>
		</div>
    </body>
 </html>
